.dark-theme {
    background-color: #111;

    .container {
        background-color: #212121;
    }

    .form-container form input {
        background-color: #111;
        color: aliceblue;
    }

    ::placeholder {
        color: #c5c3c3;
    }

}

.light-theme {
    background-color: aliceblue;

    .container {
        background-color: #212121;
        // h1 {color: aliceblue;}
    }

    .form-container input {
        background-color: aliceblue;
    }

    ::placeholder {
        color: rgb(111, 110, 110);
        // opacity: ;
    }
}